#user defined test option(keyword can't be deleted)
[test]
	#sw_name = "SW_TESTNAME="
	#sim_option="+dis_init"
	sim_option="+ATE_TEST"
	sim_option="+PCIE_LOOPBACK"
	sim_option="+jtag_vip"
	sim_option="+phy_refclk_scheme=3"
    sim_option="+dis_spi_vip"
    sim_option="+dis_uart_vip"
    sim_option="+dis_i2c_vip"
    #sim_option="+FORCE_I_CPU_0"
    sim_option="+FORCE_AON_ATU_0"
    sim_option="+FORCE_FROM_UCIE_0"
